*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
}
.cabecalho{
 
    width: 100%;

}
.conjunto-cabecalho{
    background-color: rgb(9, 233, 58);
    display: flex;
    justify-content: space-around;
    background-position: center;
    align-items: center;
    padding: 1% 1%;
    gap: 5px;  
    font-weight: bold;

}
a{
    text-decoration: none;
}
.tamanho-icon{
    width: 20px;
    height: 20px;
}

.email-space{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.tamanho-icon{
    
    background-color: rgb(9, 233, 58);
}

   
.botao-contorno-face{
    align-items: center;
    background-color: rgb(245, 248, 246);
    border-radius: 10px;
    height: 4vh;
    width: 4vh;
    justify-content: center;
}
.botao-contorno-insta{
    align-items: center;
    background-color:rgb(245, 248, 246);
    border-radius: 10px;
    height: 4vh;
    width: 4vh;
    justify-content: center;
}
.botao-contorno-tiki{
    align-items: center;
    background-color: rgb(245, 248, 246);
    border-radius: 10px;
    height: 4vh;
    width: 4vh;
    justify-content: center;
}
.logo-cadastro{
    background-color: rgb(102, 36, 189);
    display: flex;
    padding: 1% 1%;
    align-items: center;
    justify-content: space-around;

}

.lupinha{
    height: 30px;
    
}
.sacola{
    
    width: 40px;

}
.caixinha{
    background-color: aqua;
    display: flex;
    height: 40px;
    background-image: url(assets/icons/iconi\ lupa.png);
    background-repeat: no-repeat;
    background-position: 12rem center;
    padding-right: 2.5rem;
    padding-left: 1.5rem;


}   
.botoes-imput{
    padding: 50px 200px;
    background-color: #1cd212;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.botoes-imput ul{
    display: flex;
    list-style: none;
    gap: 50px;
    


}
.botoes-imput ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    background-color: #e32626;
    border-radius: 20px;

}
.banner{
    background-image: url("assets/img/Rectangle\ 1.png");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    padding: 50px 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;

}
.marrom{
    font-size: 4rem;
    color: #cd670f;
    margin-bottom: 50px;
    font-weight: 800;
    
}
.conjunto-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;
    align-items:center;
    width: 100%;
    height: 100vh;

}
.card{
    display:flex;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    


}
.card div{
    
    border-radius: 50px;
    
    
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1{
    background-image: url("assets/img/49514700e3876b6bc0064e2a6713e7c2.webp");
    background-repeat: no-repeat;
    background-size: cover;

}
.card div h3{
    font-size: 3rem;
    font-weight: 800;

}
.card2{
    background-image: url("assets/img/a59a19eab7029650d8e570e460f65988.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.card3{
    background-image: url("assets/img/615f2a2efe1ad806080b156c_1000x666-600x400.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


